@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to RIGHT , #f1d8c9, #f2c3a7);
    
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(126, 101, 86, 0.589);
    width: 80%;
    height: 90%;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(195, 128, 34, 0.775);
    color: #f39209;
}
h2{
    color: #125189;
}
p{
    text-align: justify;
}

