@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Parisienne&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(255, 230, 218),rgb(255, 219, 161) );
}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.589);
    height: 80%;
    width: 99%;
    padding: 10px;
}


h1{
    font-family: 'kaushan Script', 'serif';
    text-align: center;
    color: darkgoldenrod;
}
h2{
    /*
    Medida absolutas
    cm, mm, in, px, pt , pc
    
    Medidas relativas
    em, ex, rem, vw, %*/
    color: rgb(120, 8, 8);
    font-size:  1.5em ;
    font-family: 'Times New Roman', Times, serif;
}