@charset "utf-8";

*{
    margin: 0;

}

body, html{
    min-height: 100vh;
    background-image: url("background002.jpg");
    background-size: cover;
    font-size: 4vh;
    
}

header{
    background: radial-gradient(circle at center,  rgb(255, 255, 255), rgb(42, 0, 97) );
    text-align: center;
    padding-top: 30px;
}

header> h1{
    color: rgb(255, 194, 64);
    padding-bottom: 5px;
}
header > p{
    padding-bottom: 10px;
}
header > p>a{

    text-decoration: none;
    color: rgb(255, 194, 64);
}

main{
    margin: 20px 20px 0 20px;
    padding: 5PX;
    background-color:rgba(255, 255, 255, 0.555) ;
    border-radius: 10px;
}

main > section{
    padding-bottom: 5px;
}

main > section > p{
    padding: 10px 10px 0 10px;
    text-align: justify;
}

main > aside > h3{
    text-align: center;
}

main > aside > ul{
}

main > aside{
    color: rgb(255, 194, 64);
    background: linear-gradient(to bottom, rgb(120, 112, 129), rgb(162, 126, 207)) ;
    margin: -5px;
    border-radius: 0 0px 5px 5px;
}

footer{
    width: 100vw;
    background-color: rgb(255, 194, 64);
    bottom: 0;
    position: fixed;
    text-align: center;
}