@charset "utf-8";
body{
    background-color: rgb(130, 225, 173);
}  


.header{
    padding: 28px 25px 3px 25px;
    margin: 0;
    background-image:linear-gradient(to top, rgb(67, 107, 67), rgb(163, 241, 163)) ;
    box-sizing: border-box;
    text-align: center;
    color: aliceblue;
}
nav > a{
    color: aliceblue;
    text-decoration: none;
    
}

nav> a:hover{
    font-size: larger;

}
header > nav{
    text-align: left;
}


main{
    background-color: azure;
    margin: 0px 80px 0px 80px;
    padding: 20px;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
}

main > h1,h2{
    color: green;
}

main >p{
    text-align: justify;
    
}
main > a{
    text-decoration: none;
    color: green;
}
section{
    border-radius: 10px;
    background-color: rgb(167, 235, 194);
    padding: 2px;
}
section > p{
    padding: 0px 0px 0px 0px;
}

.subheader{
    border: 3px solid rgb(99, 181, 121);
    
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(99, 181, 121) ;
    box-sizing: border-box;
    text-align: center;
    color: aliceblue;
}

footer{
    background-color: rgb(67, 107, 67) ;
    text-align: center;
    color: white;
}

